@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #121315;
    --bg-secondary: #191a1c;
    --bg-tertiary: #0c0d0c;
    --text-primary: #e7e7e7;
    --text-secondary: #696b6c;
    --text-tertiary: #434546;
    --accent-1: #f201fb;
    --accent-2: #0ae645;
    --accent-3: #e4cd5e;
  }
}

:root[color-scheme="dark"] {
  --bg-primary: #121315;
  --bg-secondary: #191a1c;
  --bg-tertiary: #0c0d0c;
  --text-primary: #e7e7e7;
  --text-secondary: #696b6c;
  --text-tertiary: #434546;
  --accent-1: #f201fb;
  --accent-2: #0ae645;
  --accent-3: #e4cd5e;
}
:root[theme-value="dark"] {
  --bg-color: black;
  --text-color: white;
}
